# QUESTION 1

# LISTS AND ITS DEFAULT FUNCTIONS

In [42]:
lst = [1,2,3,4,5,6,"Kishore","Reddy",[12,32,4,56],33.21]

In [43]:
lst

[1, 2, 3, 4, 5, 6, 'Kishore', 'Reddy', [12, 32, 4, 56], 33.21]

In [44]:
lst.append("reddy")  #append

In [45]:
lst.append(9)

In [46]:
lst

[1, 2, 3, 4, 5, 6, 'Kishore', 'Reddy', [12, 32, 4, 56], 33.21, 'reddy', 9]

In [47]:
lst.append(12.2)

In [48]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 'Reddy',
 [12, 32, 4, 56],
 33.21,
 'reddy',
 9,
 12.2]

In [50]:
lst.copy()

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 'Reddy',
 [12, 32, 4, 56],
 33.21,
 'reddy',
 9,
 12.2]

In [52]:
lst.count(0)

0

In [53]:
lst.count(1)

1

In [55]:
lst.count(2)

1

In [57]:
lst.count("Kishore")

1

In [61]:
lst.extend("Kishore")

In [62]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 'Reddy',
 [12, 32, 4, 56],
 33.21,
 'reddy',
 9,
 12.2,
 'K',
 'i',
 's',
 'h',
 'o',
 'r',
 'e']

In [63]:
lst.extend("Reddy")

In [64]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 'Reddy',
 [12, 32, 4, 56],
 33.21,
 'reddy',
 9,
 12.2,
 'K',
 'i',
 's',
 'h',
 'o',
 'r',
 'e',
 'R',
 'e',
 'd',
 'd',
 'y']

In [65]:
lst.index(1)

0

In [66]:
lst.index(2)

1

In [67]:
lst.index("Kishore")

6

In [69]:
lst.index("reddy")

10

In [71]:
lst.index(6)

5

In [73]:
lst.insert(9,32)

In [74]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 'Reddy',
 [12, 32, 4, 56],
 32,
 33.21,
 'reddy',
 9,
 12.2,
 'K',
 'i',
 's',
 'h',
 'o',
 'r',
 'e',
 'R',
 'e',
 'd',
 'd',
 'y',
 'r',
 'e',
 'd',
 'd',
 'y']

In [81]:
lst.pop(12)

9

In [83]:
lst.remove("Reddy")

In [84]:
lst.remove("reddy")

In [85]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'Kishore',
 [12, 32, 4, 56],
 32,
 33.21,
 12.2,
 'K',
 'i',
 's',
 'h',
 'o',
 'r',
 'e',
 'R',
 'e',
 'd',
 'd',
 'y',
 'r',
 'e',
 'd',
 'd',
 'y']

In [95]:
lst.clear()

In [96]:
lst

[]

In [92]:
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [109]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [110]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [111]:
lst.reverse()

In [112]:
lst

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [113]:
lst=[1,23,455,67.45,45,"kishore"]

In [114]:
lst

[1, 23, 455, 67.45, 45, 'kishore']

In [115]:
lst.reverse()

In [116]:
lst

['kishore', 45, 67.45, 455, 23, 1]

In [130]:
lst[1]

45

In [131]:
type(lst)

list

# QUESTION-2

#DICTIONARYS AND ITS DEFAULT FUNCTIONS

In [132]:
dic = {"name":"kishore","age":18,"place":"kgf"}

In [133]:
dic

{'name': 'kishore', 'age': 18, 'place': 'kgf'}

In [134]:
dic.copy()

{'name': 'kishore', 'age': 18, 'place': 'kgf'}

In [137]:
dic.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [139]:
dic.get("kishore")

In [140]:
dic

{'name': 'kishore', 'age': 18, 'place': 'kgf'}

In [141]:
dic.items()

dict_items([('name', 'kishore'), ('age', 18), ('place', 'kgf')])

In [142]:
dic.keys()

dict_keys(['name', 'age', 'place'])

In [144]:
dic.popitem()

('place', 'kgf')

In [148]:
dic.pop("age")

18

In [152]:
dic.update()

In [153]:
dic

{'name': 'kishore'}

In [154]:
dic

{'name': 'kishore'}

In [156]:
dic["age"]=18

In [158]:
dic["mail"]="reddykishore527@gmail.com"

In [159]:
dic

{'name': 'kishore', 'age': 18, 'mail': 'reddykishore527@gmail.com'}

In [160]:
dic.items()

dict_items([('name', 'kishore'), ('age', 18), ('mail', 'reddykishore527@gmail.com')])

In [163]:
dic["mobile no"] = 123456789

In [164]:
dic

{'name': 'kishore',
 'age': 18,
 'mail': 'reddykishore527@gmail.com',
 'mobile no': 123456789}

In [165]:
dic.pop("age")

18

In [166]:
dic

{'name': 'kishore',
 'mail': 'reddykishore527@gmail.com',
 'mobile no': 123456789}

In [167]:
type(dic)

dict

## QUESTION- 3

In [168]:
#SETS AND ITS DEFAULT FUNCTION

In [170]:
st = {1,234,6,4,5,6,7,6,6,5,4,2,34,5,23.44,"KISHORE"}

In [171]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE'}

In [172]:
st.add("REDDY")

In [173]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [177]:
st.difference("KISHORE")

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [178]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [182]:
st.difference_update("kishore")

In [183]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [184]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [185]:
st1 = {1,233,445,32,23,344,343,"KISHORE"}

In [186]:
st.issubset(st1)

False

In [187]:
st.isdisjoint(st1)

False

In [188]:
st.issuperset(st1)

False

In [189]:
st.union(st1)

{1,
 2,
 23,
 23.44,
 233,
 234,
 32,
 34,
 343,
 344,
 4,
 445,
 5,
 6,
 7,
 'KISHORE',
 'REDDY'}

In [190]:
st.intersection(st1)

{1, 'KISHORE'}

In [191]:
st.difference(st1)

{2, 23.44, 234, 34, 4, 5, 6, 7, 'REDDY'}

In [192]:
st.difference_update()

In [193]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY'}

In [194]:
st.update("reddy")

In [195]:
st

{1, 2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY', 'd', 'e', 'r', 'y'}

In [197]:
st.pop()

1

In [198]:
st

{2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY', 'd', 'e', 'r', 'y'}

In [201]:
st1.remove(445)

In [202]:
st1

{1, 23, 233, 32, 343, 344, 'KISHORE'}

In [203]:
st.symmetric_difference(st1)

{1,
 2,
 23,
 23.44,
 233,
 234,
 32,
 34,
 343,
 344,
 4,
 5,
 6,
 7,
 'REDDY',
 'd',
 'e',
 'r',
 'y'}

In [204]:
st.issuperset(st1)

False

In [206]:
st.discard(st1)

In [207]:
st

{2, 23.44, 234, 34, 4, 5, 6, 7, 'KISHORE', 'REDDY', 'd', 'e', 'r', 'y'}

In [208]:
st1

{1, 23, 233, 32, 343, 344, 'KISHORE'}

In [209]:
st1.difference(st)

{1, 23, 32, 233, 343, 344}

In [210]:
type(st)

set

In [211]:
type(st1)

set

## QUESTION-4

In [212]:
# TUPLE AND DEFAULT METHODS

In [213]:
tup = ("reddykishore527","@","hotmail.com")

In [215]:
tup

('reddykishore527', '@', 'hotmail.com')

In [216]:
tup.count(1)

0

In [218]:
tup.index("@")

1

In [219]:
tup.index("reddykishore527")

0

In [221]:
tup.index("hotmail.com")

2

In [222]:
tup.count("reddykishore527")

1

In [223]:
tup.count("@")

1

In [224]:
tup.count("hotmail.com")

1

In [225]:
tup = (12,243,54,65)

In [226]:
tup

(12, 243, 54, 65)

In [227]:
tup.index(243)

1

In [228]:
tup.count(243)

1

In [229]:
tup.count(65)

1

In [230]:
tup.index(65)

3

In [231]:
type(tup)

tuple

# QUESTION-5

In [232]:
# STRINGS AN DEFAULT METHOD

In [1]:
a = "KIShore"

In [2]:
a

'KIShore'

In [3]:
type(a)

str

In [4]:
a.capitalize()

'Kishore'

In [5]:
name = "KIShORE"

In [6]:
name.capitalize()

'Kishore'

In [7]:
name.casefold()

'kishore'

In [8]:
a = "APPLE"
a.casefold()

'apple'

In [10]:
a.center(1)

'APPLE'

In [11]:
a.center(2)

'APPLE'

In [16]:
a.count("A")

1

In [19]:
a.count("P")

2

In [20]:
a.count("E")

1

In [21]:
a.count("L")

1

In [22]:
a.encode()

b'APPLE'

In [23]:
a.encode()

b'APPLE'

In [26]:
a.endswith("KISHORE")

False

In [27]:
a.endswith("E")

True

In [30]:
a.expandtabs(2)

'APPLE'

In [31]:
a.find("P")

1

In [32]:
a.find("L")

3

In [33]:
a.find("E")

4

In [34]:
a.format()

'APPLE'

In [35]:
a

'APPLE'

In [39]:
a.format_map("T")

'APPLE'

In [42]:
a.index("P")

1

In [43]:
a.isalnum()

True

In [44]:
a.isalpha()

True

In [45]:
a.isascii()

True

In [46]:
a.isdecimal()

False

In [47]:
a.isdigit()

False

In [48]:
a.isidentifier()

True

In [49]:
a.islower()

False

In [50]:
a.isnumeric()

False

In [51]:
a.isprintable()

True

In [52]:
a.isspace()

False

In [53]:
a.istitle()

False

In [54]:
a.isupper()

True

In [60]:
a.join("KIS")

'KAPPLEIAPPLES'

In [64]:
a.ljust(2)

'APPLE'

In [73]:
a.partition("KISHORE")

('APPLE', '', '')

In [74]:
a

'APPLE'

In [77]:
a.replace("A","B")

'BPPLE'

In [78]:
a.rfind("B")

-1

In [80]:
a.rjust(3)

'APPLE'

In [83]:
a.translate("A")

'APPLE'

In [84]:
a.upper()

'APPLE'

In [85]:
a.lower()

'apple'

In [86]:
a

'APPLE'

In [88]:
a.lower()

'apple'

In [89]:
a.upper()

'APPLE'